__pycache__/
*.pyc
.pytest_cache/
.venv/
.env
*.egg-info/
dist/
build/
*.sqlite3
*:Zone.Identifier
/cite/
/app/tool/skill/*
!/app/tool/skill/.gitkeep
/app/tool/mcp/*
!/app/tool/mcp/.gitkeep
/app/tool/local/*
!/app/tool/local/README.md
